NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb+srv://xli503441:lxc159357%40GOD@cluster0.isy9cqv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
DATABASE_NAME=grocery_store
CORS_ORIGIN=*
GMAIL_USER=
GMAIL_APP_PASSWORD=